
{% load static %}

{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  <title>Museu do Cidadão</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css_william/will.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'carousel.css' %} " rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<body  id="div_1">
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
         
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}"><img src="https://icon-icons.com/icons2/1364/PNG/512/publicmuseumsign_89226.png" width="40px"></a>
            </li>
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}">INÍCIO </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:sobre' %}">SOBRE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-create' %}">CADASTRE PATRIMÔNIOS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-list' %}">EXPOSIÇÕES</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:contato' %}">CONTATO</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:logout' %}">LOGOUT</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:login' %}">LOGIN</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
</header>
  <div class="sectionn">
  <div class="column">
    <p>   O objetivo do site é resgatar a memória do povo brasileiro através da difusão de
    valores históricos, culturais, arquitetônicos e ambientais. No Museu do Cidadão, o usuário
    tem a possibilidade de conhecer diferentes patrimônios materiais e imateriais de qualquer
  parte do Brasil e, além disso, poderá cadastrar os bens e memórias da sua região e publicar
  na forma de exposição. Essa proposta foi pensada após o recente incêndio que acometeu
  Museu Nacional e que ocasionou a destruição de um acervo de mais de 20 milhões de
  peças, tragédia que apagou parte da história brasileira.</p>
</div>
</div>

<script type="text/javascript">
  function componentToHex(c) {
    var hex = c.toString(16);
      return hex.length == 1 ? "0" + hex : hex;
  }

  function rgbToHex(r, g, b) {
      return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
  }



function selecionar(id){
  var x = rgbToHex(33, 87, 245);
    document.getElementById(id).style.background=x;
    
}

function button(id) {
n1 = prompt('Digite um número?');
n2 = prompt('Digite outro número?');
n3 = prompt('Digite pela última vez outro número?');
var number1 =  Number(n1)
var number2 =  Number(n2)
var number3 =  Number(n3)

if (n1 == ''){
    alert("Você deixou em branco alguma coisa");
} else if(n2 == ''){
    alert("Você deixou em branco alguma coisa");
} else if(n3 == ''){
    alert("Você deixou em branco alguma coisa");

} 
var x = rgbToHex(number1,number2,number3);
document.getElementById(id).style.background=x;

}

</script>
<button onclick="button('div_1');"> Mudar cor da pagina</button>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

