
{% load static %}

{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  <title>Museu do Cidadão</title>
  <meta charset="utf-8">
  <script src="{% static 'js/exposicao.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css_william/will.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'carousel.css' %} " rel="stylesheet">
  <link href="{% static 'js/auth.js' %} " rel="stylesheet">
  <link href="{% static 'css_william/auth.css' %} " rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
         
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}"><img src="https://icon-icons.com/icons2/1364/PNG/512/publicmuseumsign_89226.png" width="40px"></a>
            </li>
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}">INÍCIO </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:sobre' %}">SOBRE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-create' %}">CADASTRE PATRIMÔNIOS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-list' %}">EXPOSIÇÕES</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:contato' %}">CONTATO</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
</head>

<body>
      <form  style="padding-top: 80px;" id="formauth" name="formauth1" onsubmit="auth()" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>O nome de usuário</label>
                  <input class="form-control" id="username" name="username" type="text" placeholder="O nome de usuário" >
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Password</label>
                  <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit"  class="btn btn-primary btn-xl" id="sendMessageButton">Login</button>
              </div>
          </div>
        </div>
        </form>
   
    
</body>
</html>
