
{% load static %}

{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <script src="{% static 'js/exposicao.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css_william/will.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'carousel.css' %} " rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
         
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}"><img src="https://icon-icons.com/icons2/1364/PNG/512/publicmuseumsign_89226.png" width="40px"></a>
            </li>
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:home' %}">INÍCIO </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:sobre' %}">SOBRE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-create' %}">CADASTRE PATRIMÔNIOS</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo " href="{% url 'museu:exposicao-list' %}">EXPOSIÇÕES</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:contato' %}">CONTATO</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link titulo" href="{% url 'museu:user-create' %}">CADASTRE-SE</a>
            </li>
          </ul>
        </div>
      </nav>
</header>
</br>
</br>
</br>
<script language="javascript" type="text/javascript">
function validar() {
  var nome = form1.username.value;
  var firstnome = form1.first_name.value;
  var lastnome = form1.last_name.value;
  var password = form1.password.value;
  var email = form1.email.value;

    if (nome == "") {
alert('Preencha o campo com seu nome');
nome.focus();
return false;
}
if (firstnome == "") {
alert('Preencha o campo com seu primeiro nome');
firstnome.focus();
return false;
}
if (lastnome == "") {
alert('Preencha o campo com seu último nome');
lastnome.focus();
return false;
}
if (password.length < 8) {
alert('Preencha o campo com sua senha com no mímino 8 caracteres');
password.focus();
return false;
}

if(email.indexOf("@") == -1 ||
      email.indexOf(".") == -1 ||
      email == "" ||
      email == null) {
        alert("Por favor, indique um e-mail válido.");
        email.focus();
        return false;
    }
}
    
  </script>
</head>
<body>
    <form name="form1" action="{% url 'museu:user-create' %}"  method="post"  >
    {% csrf_token %}
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Cadastro</h2>

        <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>O nome de usuário</label>
                  <input class="form-control" id="username" name="username" type="text" placeholder="O nome de usuário" >
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Primeiro nome</label>
                  <input class="form-control" id="first_name" name="first_name" type="text" placeholder="Primeiro nome">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Último nome</label>
                  <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Último nome">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Password</label>
                  <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Email Address</label>
                  <input class="form-control" id="email" name="email" type="email" placeholder="Email Address">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
         
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" onclick="return validar()" class="btn btn-primary btn-xl" id="sendMessageButton">Salvar</button>
              </div>
          </div>
        </div>
      </div>
    </section>

</form>
</body>
</html>


